<p>Estimados Sres $nombreEntidad</p>
<p>VUCE le env&iacute;a el listado de incidentes abiertos</p>
<p><strong>Fecha y hora de env&iacute;o:&nbsp;</strong> $fechaEnvio</p>
<p><strong>Transacciones con incidentes</strong></p>

<table>
<tbody>
<tr>
<td>

<table>
<tbody>
<tr>
<td style="text-align: center;"><strong>Transmisi&oacute;n</strong></td>
<td style="text-align: center;"><strong>Tipo de mensaje</strong></td>
<td style="text-align: center;"><strong>Tipo de documento</strong></td>
<td style="text-align: center;"><strong>Nro. de documento</strong></td>
<td style="text-align: center;"><strong>Primera lectura</strong></td>
<td style="text-align: center;"><strong>Antiguedad (min) </strong></td>
</tr>
#foreach( $transacciones in $transaccion)
<tr>
<td style="text-align: center;">$transaccion.idTransmision</td>
<td style="text-align: center;">$transaccion.tipoMensaje</td>
<td style="text-align: center;">$transaccion.tipoDocumento</td>
<td style="text-align: center;">$transaccion.numeroDocumento</td>
<td style="text-align: center;">$transaccion.fechaPrimeraLectura</td>
<td style="text-align: center;">$transaccion.antiguedad</td>
</tr>
#end
</tbody>
</table>

</td>
</tr>
</tbody>
</table>


<p><strong>Notificaciones con incidentes</strong></p>

<table>
<tbody>
<tr>
<td>

<table>
<tbody>
<tr>
<td style="text-align: center;"><strong>Notificaci&oacute;n</strong></td>
<td style="text-align: center;"><strong>Tipo de mensaje</strong></td>
<td style="text-align: center;"><strong>Tipo de documento</strong></td>
<td style="text-align: center;"><strong>Nro. de documento</strong></td>
<td style="text-align: center;"><strong>Fecha de recepci&oacute;n</strong></td>
<td style="text-align: center;"><strong>Fecha de procesamiento</strong></td>
</tr>
#foreach( $notificaciones in $notificacion)
<tr>
<td style="text-align: center;">$notificacion.veId</td>
<td style="text-align: center;">$notificacion.tipoMensaje</td>
<td style="text-align: center;">$notificacion.tipoDocumento</td>
<td style="text-align: center;">$notificacion.numeroDocumento</td>
<td style="text-align: center;">$notificacion.fechaRecepcion</td>
<td style="text-align: center;">$notificacion.fechaProcesamiento</td>
</tr>
#end
</tbody>
</table>

</td>
</tr>
</tbody>
</table>


<p>Atentamente,</p>
<p>Soporte VUCE</p>
<p><strong>Aviso de Confidencialidad</strong><br />Si usted no es el destinatario previsto, le agradeceremos se sirva destruir todas las copias de este mensaje y notif&iacute;quenos inmediatamente</p>