/*body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#starterDiv{
  padding-top: 3%;
}

.CodeMirror { 
  text-align: left; 
  height: auto !important;
}
*/
.tipo-transacciones{
    display: inline-block;
    vertical-align: top;
}


.tipo-transacciones-1{
    width: 20px;
    height: 20px;
    background-color: #f53d3d;
    border: 2px solid #f53d3d;
    border-radius: 50px;
    margin: 0px auto;
}

.tipo-transacciones-2{
    width: 20px;
    height: 20px;
    background-color: #1c5ec1;
    border: 2px solid #1c5ec1;
    border-radius: 50px;
    margin: 0px auto;
}

.tipo-transacciones-3{
    width: 20px;
    height: 20px;
    background-color: #3e414e;
    border: 2px solid #3e414e;
    border-radius: 50px;
    margin: 0px auto;
}



.tipo-frecuencia-0{
    width: 20px;
    height: 20px;
    background-color: #88e282;
    border: 2px solid #88e282;
    border-radius: 50px;
    margin: 0px auto;
}

.tipo-frecuencia-1{
    width: 20px;
    height: 20px;
    background-color: #f53d3d;
    border: 2px solid #f53d3d;
    border-radius: 50px;
    margin: 0px auto;
}

.tipo-frecuencia-cumplimiento-1{
    width: 20px;
    height: 20px;
    background-color: #88e282;
    border: 2px solid #88e282;
    border-radius: 50px;
    margin: 0px auto;
}

.tipo-frecuencia-cumplimiento-0{
    width: 20px;
    height: 20px;
    background-color: #f53d3d;
    border: 2px solid #f53d3d;
    border-radius: 50px;
    margin: 0px auto;
}


